/* Basstruktur */
body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #c2d2e2;
  color: #000000;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Rubriker */
h1, h2, h3 {
  font-weight: bold;
  margin-bottom: 0.5em;
}

header{
  padding: 2px 0;
  margin-bottom: 2px;
  text-align: center;
}

.main-layout {
  flex:1;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 150px;
}
.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 50px;
  padding: 20px;
  position: sticky;
  top: 35%;    
}

#skapa-ny-inlägg, #senast-publicerad-section {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #9e8686;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogg-innehåll{
  flex: 1;
  display: flex;
  flex-direction: column;
}

#ny-inlägg-form{
  display: flex;
  flex-direction: column;
}

#tidigare-inläggen{
  display: flex;
  flex-direction: column;
}
#blogg-inlägg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 10px;
}
.inlägg{
  background: #f9f9f9;
  border: 1px solid #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 70%;
  margin:20px;
}

footer{
  text-align: center;
  padding: 10px;
}



/* 
@media (max-width: 768px) {
  .main-layout {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
  }

  #inlägg1, #inlägg2 {
    width: 90%;
  }
} */
